bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

yarn-debug.log*
yarn-error.log*

/packages
/TestResults

.idea/*
.env

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

node_modules
.vscode/settings.json
